<div class="w-100 h-100 rounded border border-dark shadow-sm" role="button">
  <ng-container *ngIf="shownFace === CardFace.FRONT">
    <ng-container *ngTemplateOutlet="cardFront"></ng-container>
  </ng-container>
  
  <ng-container *ngIf="shownFace === CardFace.BACK">
    <ng-container *ngTemplateOutlet="cardBack"></ng-container>
  </ng-container>
</div>

<ng-template #cardFront>
  <img *ngIf="frontImage" class="img-fluid rounded" [src]="frontImage"/>
  <span *ngIf="!frontImage">Front</span>
</ng-template>

<ng-template #cardBack>
  <img *ngIf="backImage" class="img-fluid rounded" [src]="backImage"/>
  <div *ngIf="!backImage" class="w-100 h-100 d-flex justify-content-center align-items-center">
    <span>?</span>
  </div>
</ng-template>
