<div
  [ngClass]="{ 'flip': _card.shownFace === CardFace.BACK }"
  class="w-100 h-100 rounded border border-dark shadow-sm mmb-card"
>
  <ng-container *ngTemplateOutlet="cardFront"></ng-container>
  <ng-container *ngTemplateOutlet="cardBack"></ng-container>
</div>

<ng-template #cardFront>
  <div class="mmb-card-front">
    <div *ngIf="_frontImage" class="rounded">
      <img class="img-fluid" [src]="_frontImage" alt="card front"/>
      <span [ngClass]="[effectIcon, 'icon']"></span>
    </div>
    <span *ngIf="!_frontImage">Front</span>
  </div>
</ng-template>

<ng-template #cardBack>
  <div class="mmb-card-back">
    <img *ngIf="_backImage" class="img-fluid rounded" [src]="_backImage" alt="card back"/>
    <div *ngIf="!_backImage" class="w-100 h-100 d-flex justify-content-center align-items-center card-back-pattern">
      <span>?</span>
    </div>
  </div>
</ng-template>
