<div class="w-100 h-100 rounded border border-dark shadow-sm" role="button">
  <ng-container *ngIf="_card?.shownFace === CardFace.FRONT">
    <ng-container *ngTemplateOutlet="cardFront"></ng-container>
  </ng-container>
  
  <ng-container *ngIf="_card?.shownFace === CardFace.BACK">
    <ng-container *ngTemplateOutlet="cardBack"></ng-container>
  </ng-container>
</div>

<ng-template #cardFront>
  <div *ngIf="_frontImage" class="rounded">
    <img class="img-fluid" [src]="_frontImage"/>
    <span [ngClass]="[effectIcon, 'icon']"></span>
  </div>
  <span *ngIf="!_frontImage">Front</span>
</ng-template>

<ng-template #cardBack>
  <img *ngIf="_backImage" class="img-fluid rounded" [src]="_backImage"/>
  <div *ngIf="!_backImage" class="w-100 h-100 d-flex justify-content-center align-items-center card-back-pattern">
    <span>?</span>
  </div>
</ng-template>
