<div class="w-100 h-100 container d-flex flex-column justify-content-center align-items-center">
  <h1>Moe Memory Battle!</h1>

  <div class="w-25 d-grid gap-1">
    <button mat-raised-button (click)="handleEasyButtonClicked()">Easy</button>
    <button mat-raised-button (click)="handleMediumButtonClicked()">Medium</button>
    <button mat-raised-button (click)="handleHardButtonClicked()">Hard</button>
    <button mat-raised-button (click)="handlePerfectButtonClicked()">Perfect</button>
  </div>
</div>
