/* You can add global styles to this file, and also import other style files */

.row-cols-8 > * {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
